.tweet {
  background-color: #424242; }

.tweet_text {
  color: gray; }

.icon {
  font-size: 1.3em; }

.liked {
  color: #af3f3f; }

.notLiked:hover {
  color: #af3f3f; }

.likes {
  font-size: 1.3em;
  display: inline-block;
  margin-left: .8em; }

.userName {
  color: white;
  font-weight: 400;
  font-size: 1.8em; }

.userHandle {
  font-size: 1.2em; }
