
$tweetBackground: #424242;
$tweetText: gray;
$liked: #af3f3f;
.tweet{
    background-color: $tweetBackground;

}

.tweet_text{
    color: $tweetText;
}

.icon{
    font-size: 1.3em;
}

.liked{
    color: $liked;
}

.notLiked:hover {
    color: $liked;
}

.like_text {
    cursor: pointer;
}

.likes{
    font-size: 1.3em;
    display: inline-block;
    margin-left: .8em;
}


.userName{
    color: white;
    font-weight: 400;
    font-size: 1.8em;
}

.userHandle{
    font-size: 1.2em;
}